body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(239, 252, 252);
}
h1{
    color: rgba(89, 173, 152, 0.986);
}
form{
    background-color:  rgb(231, 233, 233);
    text-align: center;
    max-width: 325px;
    margin: 20px auto;
    margin-bottom: 40px ;
    padding: 25px;
    border-radius: 50px;
    box-shadow: 6px 6px 16px rgb(117, 197, 197);
}
#textBox{
     width: 50%;
    text-align: center;
    border-radius: 10px;
    font-size: 2em;
   border: 2px solid rgba(163, 212, 155, 0.808);
    margin-bottom: 15px;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
    margin-top: 15px;
    background-color: rgb(247, 245, 140);
    border-radius: 10px;
    border: 2px solid rgba(127, 189, 224, 0.788);
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color:rgb(238, 235, 45);
}
#result{
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}